# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [1]:
#Upload applicants_data.csv to Colab
from google.colab import files
csv_file = files.upload()

Saving applicants_data.csv to applicants_data (3).csv

In [53]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [54]:
# Review the data types associated with the columns
applicant_data_df['EIN'].dtype

dtype('int64')

In [55]:
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [56]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [57]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE",'AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','STATUS','INCOME_AMT', 'SPECIAL_CONSIDERATIONS'
]
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [58]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [59]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [60]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns =enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [61]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df[['ASK_AMT','IS_SUCCESSFUL']]], axis =1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [62]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [63]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [64]:
X.shape

(34299, 117)

In [65]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [66]:
X_train.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT
10679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
5052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
9990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
25173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
11405,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000

In [67]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [68]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

117

In [69]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [70]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 20

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

20

In [71]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  20

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

20

In [72]:
# Create the Sequential model instance
nn = Sequential()

In [73]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [74]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [75]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [76]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 20)                2360

 dense_9 (Dense)             (None, 20)                420

 dense_10 (Dense)            (None, 1)                 21

=================================================================
Total params: 2,801
Trainable params: 2,801
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [77]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [78]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X, y, epochs=50)

Epoch 1/50
1072/1072 [==============================] - 2s 2ms/step - loss: 596483112960.0000 - accuracy: 0.5019
Epoch 2/50
1072/1072 [==============================] - 2s 2ms/step - loss: 21325529088.0000 - accuracy: 0.4696
Epoch 3/50
1072/1072 [==============================] - 2s 2ms/step - loss: 11087.6553 - accuracy: 0.4650
Epoch 4/50
1072/1072 [==============================] - 2s 2ms/step - loss: 38183564.0000 - accuracy: 0.4689
Epoch 5/50
1072/1072 [==============================] - 2s 2ms/step - loss: 4585948160.0000 - accuracy: 0.4708
Epoch 6/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1812797456384.0000 - accuracy: 0.5130
Epoch 7/50
1072/1072 [==============================] - 2s 2ms/step - loss: 2021906688.0000 - accuracy: 0.4932
Epoch 8/50
1072/1072 [==============================] - 2s 2ms/step - loss: 21117746.0000 - accuracy: 0.4719
Epoch 9/50
1072/1072 [==============================] - 2s 2ms/step - loss: 9.9114 - accuracy: 0.4669
Epoch 10/50
1072/1072 [==============================] - 2s 2ms/step - loss: 9.9614 - accuracy: 0.4670
Epoch 11/50
1072/1072 [==============================] - 2s 2ms/step - loss: 940160.7500 - accuracy: 0.4705
Epoch 12/50
1072/1072 [==============================] - 2s 2ms/step - loss: 4353419264.0000 - accuracy: 0.4953
Epoch 13/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1591158400.0000 - accuracy: 0.5004
Epoch 14/50
1072/1072 [==============================] - 2s 2ms/step - loss: 399993088.0000 - accuracy: 0.4710
Epoch 15/50
1072/1072 [==============================] - 2s 2ms/step - loss: 14441141248.0000 - accuracy: 0.4835
Epoch 16/50
1072/1072 [==============================] - 2s 2ms/step - loss: 71318.7031 - accuracy: 0.4671
Epoch 17/50
1072/1072 [==============================] - 2s 2ms/step - loss: 726086.8750 - accuracy: 0.4712
Epoch 18/50
1072/1072 [==============================] - 2s 2ms/step - loss: 256.6009 - accuracy: 0.4667
Epoch 19/50
1072/1072 [==============================] - 2s 2ms/step - loss: 973347712.0000 - accuracy: 0.4764
Epoch 20/50
1072/1072 [==============================] - 3s 3ms/step - loss: 104684789760.0000 - accuracy: 0.4949
Epoch 21/50
1072/1072 [==============================] - 3s 2ms/step - loss: 235619.2344 - accuracy: 0.4693
Epoch 22/50
1072/1072 [==============================] - 2s 2ms/step - loss: 67284408.0000 - accuracy: 0.4695
Epoch 23/50
1072/1072 [==============================] - 2s 2ms/step - loss: 580486592.0000 - accuracy: 0.4778
Epoch 24/50
1072/1072 [==============================] - 2s 2ms/step - loss: 13222959104.0000 - accuracy: 0.4918
Epoch 25/50
1072/1072 [==============================] - 2s 2ms/step - loss: 525222.5000 - accuracy: 0.4691
Epoch 26/50
1072/1072 [==============================] - 2s 2ms/step - loss: 3879177.7500 - accuracy: 0.4800
Epoch 27/50
1072/1072 [==============================] - 2s 2ms/step - loss: 80136.6172 - accuracy: 0.4699
Epoch 28/50
1072/1072 [==============================] - 2s 2ms/step - loss: 7643672.0000 - accuracy: 0.4701
Epoch 29/50
1072/1072 [==============================] - 2s 2ms/step - loss: 4851423744.0000 - accuracy: 0.4864
Epoch 30/50
1072/1072 [==============================] - 2s 2ms/step - loss: 9618153472.0000 - accuracy: 0.4749
Epoch 31/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3772 - accuracy: 0.4676
Epoch 32/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3771 - accuracy: 0.4676
Epoch 33/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3769 - accuracy: 0.4676
Epoch 34/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3766 - accuracy: 0.4676
Epoch 35/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3761 - accuracy: 0.4676
Epoch 36/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3753 - accuracy: 0.4676
Epoch 37/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3738 - accuracy: 0.4676
Epoch 38/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3714 - accuracy: 0.4676
Epoch 39/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3674 - accuracy: 0.4676
Epoch 40/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3609 - accuracy: 0.4676
Epoch 41/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3505 - accuracy: 0.4676
Epoch 42/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3353 - accuracy: 0.4676
Epoch 43/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3149 - accuracy: 0.4676
Epoch 44/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.2907 - accuracy: 0.4676
Epoch 45/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.2682 - accuracy: 0.4676
Epoch 46/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.2543 - accuracy: 0.4676
Epoch 47/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.2496 - accuracy: 0.5179
Epoch 48/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.2490 - accuracy: 0.5324
Epoch 49/50
1072/1072 [==============================] - 3s 2ms/step - loss: 0.2490 - accuracy: 0.5324
Epoch 50/50
1072/1072 [==============================] - 2s 2ms/step - loss: 0.2490 - accuracy: 0.5324

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [79]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled , y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4099 - accuracy: 0.5248 - 425ms/epoch - 2ms/step
Loss: 0.4099302291870117, Accuracy: 0.524781346321106

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [104]:
# Set the model's file path
nn_filepath = "Resources/AlphabetSoup.h5"

# Export your model to a HDF5 file

nn.save(nn_filepath)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [81]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [82]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [83]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = number_input_features*2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

234

In [84]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [85]:
# First hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu")
)



# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 234)               27612

 dense_12 (Dense)            (None, 1)                 235

=================================================================
Total params: 27,847
Trainable params: 27,847
Non-trainable params: 0
_________________________________________________________________

In [86]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [87]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X, y, epochs=50)

Epoch 1/50
1072/1072 [==============================] - 3s 2ms/step - loss: 3913461268480.0000 - accuracy: 0.5028
Epoch 2/50
1072/1072 [==============================] - 2s 2ms/step - loss: 7421816209408.0000 - accuracy: 0.4936
Epoch 3/50
1072/1072 [==============================] - 2s 2ms/step - loss: 727173.6250 - accuracy: 0.4662
Epoch 4/50
1072/1072 [==============================] - 2s 2ms/step - loss: 6953.2036 - accuracy: 0.4664
Epoch 5/50
1072/1072 [==============================] - 2s 2ms/step - loss: 4270686994432.0000 - accuracy: 0.4918
Epoch 6/50
1072/1072 [==============================] - 2s 2ms/step - loss: 285493184.0000 - accuracy: 0.4660
Epoch 7/50
1072/1072 [==============================] - 2s 2ms/step - loss: 4907783946240.0000 - accuracy: 0.4898
Epoch 8/50
1072/1072 [==============================] - 2s 2ms/step - loss: 14834693308416.0000 - accuracy: 0.4780
Epoch 9/50
1072/1072 [==============================] - 3s 2ms/step - loss: 2626919168.0000 - accuracy: 0.4793
Epoch 10/50
1072/1072 [==============================] - 2s 2ms/step - loss: 4675420.5000 - accuracy: 0.4630
Epoch 11/50
1072/1072 [==============================] - 2s 2ms/step - loss: 8350793.0000 - accuracy: 0.4656
Epoch 12/50
1072/1072 [==============================] - 2s 2ms/step - loss: 482.5495 - accuracy: 0.4672
Epoch 13/50
1072/1072 [==============================] - 2s 2ms/step - loss: 172535.5938 - accuracy: 0.4665
Epoch 14/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1717016068096.0000 - accuracy: 0.4758
Epoch 15/50
1072/1072 [==============================] - 2s 2ms/step - loss: 133903048704.0000 - accuracy: 0.5064
Epoch 16/50
1072/1072 [==============================] - 2s 2ms/step - loss: 3852619520.0000 - accuracy: 0.5061
Epoch 17/50
1072/1072 [==============================] - 2s 2ms/step - loss: 279547.7500 - accuracy: 0.5200
Epoch 18/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1709128286208.0000 - accuracy: 0.5125
Epoch 19/50
1072/1072 [==============================] - 3s 2ms/step - loss: 11098635894784.0000 - accuracy: 0.5305
Epoch 20/50
1072/1072 [==============================] - 3s 2ms/step - loss: 5662476800.0000 - accuracy: 0.4368
Epoch 21/50
1072/1072 [==============================] - 2s 2ms/step - loss: 16350.5488 - accuracy: 0.3695
Epoch 22/50
1072/1072 [==============================] - 3s 2ms/step - loss: 313.9035 - accuracy: 0.3697
Epoch 23/50
1072/1072 [==============================] - 2s 2ms/step - loss: 70332.0078 - accuracy: 0.3922
Epoch 24/50
1072/1072 [==============================] - 3s 2ms/step - loss: 298.9792 - accuracy: 0.3709
Epoch 25/50
1072/1072 [==============================] - 2s 2ms/step - loss: 624583.3125 - accuracy: 0.3778
Epoch 26/50
1072/1072 [==============================] - 2s 2ms/step - loss: 10037.8438 - accuracy: 0.3644
Epoch 27/50
1072/1072 [==============================] - 2s 2ms/step - loss: 251824800.0000 - accuracy: 0.3761
Epoch 28/50
1072/1072 [==============================] - 2s 2ms/step - loss: 399563325440.0000 - accuracy: 0.4954
Epoch 29/50
1072/1072 [==============================] - 2s 2ms/step - loss: 964540928.0000 - accuracy: 0.4909
Epoch 30/50
1072/1072 [==============================] - 2s 2ms/step - loss: 831830976.0000 - accuracy: 0.4757
Epoch 31/50
1072/1072 [==============================] - 2s 2ms/step - loss: 66806571008.0000 - accuracy: 0.4774
Epoch 32/50
1072/1072 [==============================] - 2s 2ms/step - loss: 2574867.5000 - accuracy: 0.4698
Epoch 33/50
1072/1072 [==============================] - 2s 2ms/step - loss: 2379767087104.0000 - accuracy: 0.5208
Epoch 34/50
1072/1072 [==============================] - 2s 2ms/step - loss: 3508531968.0000 - accuracy: 0.5003
Epoch 35/50
1072/1072 [==============================] - 2s 2ms/step - loss: 85636.3672 - accuracy: 0.4642
Epoch 36/50
1072/1072 [==============================] - 2s 2ms/step - loss: 2146.5432 - accuracy: 0.4672
Epoch 37/50
1072/1072 [==============================] - 2s 2ms/step - loss: 3.9487 - accuracy: 0.4676
Epoch 38/50
1072/1072 [==============================] - 2s 2ms/step - loss: 3.7773 - accuracy: 0.4676
Epoch 39/50
1072/1072 [==============================] - 3s 3ms/step - loss: 4.2384 - accuracy: 0.4672
Epoch 40/50
1072/1072 [==============================] - 3s 3ms/step - loss: 2025195520.0000 - accuracy: 0.4774
Epoch 41/50
1072/1072 [==============================] - 3s 3ms/step - loss: 881085775872.0000 - accuracy: 0.4836
Epoch 42/50
1072/1072 [==============================] - 2s 2ms/step - loss: 48771432448.0000 - accuracy: 0.4719
Epoch 43/50
1072/1072 [==============================] - 2s 2ms/step - loss: 9376639.0000 - accuracy: 0.4717
Epoch 44/50
1072/1072 [==============================] - 2s 2ms/step - loss: 18.2353 - accuracy: 0.4669
Epoch 45/50
1072/1072 [==============================] - 3s 3ms/step - loss: 83.4611 - accuracy: 0.4665
Epoch 46/50
1072/1072 [==============================] - 3s 2ms/step - loss: 894.9783 - accuracy: 0.4675
Epoch 47/50
1072/1072 [==============================] - 3s 2ms/step - loss: 1721.1030 - accuracy: 0.4666
Epoch 48/50
1072/1072 [==============================] - 2s 2ms/step - loss: 27794491392.0000 - accuracy: 0.4846
Epoch 49/50
1072/1072 [==============================] - 2s 2ms/step - loss: 38.5604 - accuracy: 0.4677
Epoch 50/50
1072/1072 [==============================] - 2s 2ms/step - loss: 876517.6875 - accuracy: 0.4677

#### Alternative Model 2

In [88]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [91]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [92]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = number_input_features*2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

234

In [93]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [94]:
# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu")
)



# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 234)               27612

 dense_14 (Dense)            (None, 1)                 235

=================================================================
Total params: 27,847
Trainable params: 27,847
Non-trainable params: 0
_________________________________________________________________

In [95]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [96]:
# Fit the model
fit_model_A2 = nn_A2.fit(X, y, epochs=50)

Epoch 1/50
1072/1072 [==============================] - 3s 2ms/step - loss: 26760303345664.0000 - accuracy: 0.5014
Epoch 2/50
1072/1072 [==============================] - 2s 2ms/step - loss: 20455311360.0000 - accuracy: 0.5196
Epoch 3/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1933539.3750 - accuracy: 0.5340
Epoch 4/50
1072/1072 [==============================] - 2s 2ms/step - loss: 29894036.0000 - accuracy: 0.5321
Epoch 5/50
1072/1072 [==============================] - 3s 2ms/step - loss: 1133826.8750 - accuracy: 0.5319
Epoch 6/50
1072/1072 [==============================] - 3s 3ms/step - loss: 141471232.0000 - accuracy: 0.5309
Epoch 7/50
1072/1072 [==============================] - 3s 2ms/step - loss: 5568807424.0000 - accuracy: 0.5266
Epoch 8/50
1072/1072 [==============================] - 2s 2ms/step - loss: 250871103356928.0000 - accuracy: 0.5301
Epoch 9/50
1072/1072 [==============================] - 2s 2ms/step - loss: 134534619136.0000 - accuracy: 0.4949
Epoch 10/50
1072/1072 [==============================] - 2s 2ms/step - loss: 24209688.0000 - accuracy: 0.5342
Epoch 11/50
1072/1072 [==============================] - 2s 2ms/step - loss: 317725.7500 - accuracy: 0.5366
Epoch 12/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1058412.1250 - accuracy: 0.5358
Epoch 13/50
1072/1072 [==============================] - 2s 2ms/step - loss: 134976000.0000 - accuracy: 0.5401
Epoch 14/50
1072/1072 [==============================] - 2s 2ms/step - loss: 1486826.1250 - accuracy: 0.5581
Epoch 15/50
1072/1072 [==============================] - 3s 2ms/step - loss: 36547300.0000 - accuracy: 0.5528
Epoch 16/50
1072/1072 [==============================] - 3s 2ms/step - loss: 42145608105984.0000 - accuracy: 0.5332
Epoch 17/50
1072/1072 [==============================] - 2s 2ms/step - loss: 5338741342208.0000 - accuracy: 0.5071
Epoch 18/50
1072/1072 [==============================] - 3s 2ms/step - loss: 626231680.0000 - accuracy: 0.5344
Epoch 19/50
1072/1072 [==============================] - 2s 2ms/step - loss: 30274109440.0000 - accuracy: 0.5183
Epoch 20/50
1072/1072 [==============================] - 2s 2ms/step - loss: 11303213.0000 - accuracy: 0.5469
Epoch 21/50
1072/1072 [==============================] - 3s 3ms/step - loss: 3708352.2500 - accuracy: 0.5494
Epoch 22/50
1072/1072 [==============================] - 2s 2ms/step - loss: 656508321792.0000 - accuracy: 0.5188
Epoch 23/50
1072/1072 [==============================] - 2s 2ms/step - loss: 8016857923584.0000 - accuracy: 0.4919
Epoch 24/50
1072/1072 [==============================] - 2s 2ms/step - loss: 15128417280.0000 - accuracy: 0.5282
Epoch 25/50
1072/1072 [==============================] - 3s 2ms/step - loss: 39440.4883 - accuracy: 0.5340
Epoch 26/50
1072/1072 [==============================] - 3s 3ms/step - loss: 332995.1250 - accuracy: 0.5333
Epoch 27/50
1072/1072 [==============================] - 2s 2ms/step - loss: 852219199488.0000 - accuracy: 0.5077
Epoch 28/50
1072/1072 [==============================] - 3s 3ms/step - loss: 166953376.0000 - accuracy: 0.5307
Epoch 29/50
1072/1072 [==============================] - 2s 2ms/step - loss: 69978808.0000 - accuracy: 0.5311
Epoch 30/50
1072/1072 [==============================] - 3s 3ms/step - loss: 9225383182336.0000 - accuracy: 0.4970
Epoch 31/50
1072/1072 [==============================] - 3s 2ms/step - loss: 377229180928.0000 - accuracy: 0.5288
Epoch 32/50
1072/1072 [==============================] - 2s 2ms/step - loss: 121043008.0000 - accuracy: 0.5345
Epoch 33/50
1072/1072 [==============================] - 2s 2ms/step - loss: 3283.8457 - accuracy: 0.5597
Epoch 34/50
1072/1072 [==============================] - 2s 2ms/step - loss: 40304.8125 - accuracy: 0.5586
Epoch 35/50
1072/1072 [==============================] - 3s 2ms/step - loss: 10.8191 - accuracy: 0.5584
Epoch 36/50
1072/1072 [==============================] - 4s 3ms/step - loss: 61470.4766 - accuracy: 0.5597
Epoch 37/50
1072/1072 [==============================] - 3s 3ms/step - loss: 24309923840000.0000 - accuracy: 0.4788
Epoch 38/50
1072/1072 [==============================] - 2s 2ms/step - loss: 28956532736.0000 - accuracy: 0.5118
Epoch 39/50
1072/1072 [==============================] - 2s 2ms/step - loss: 8133.7070 - accuracy: 0.5328
Epoch 40/50
1072/1072 [==============================] - 2s 2ms/step - loss: 7.4339 - accuracy: 0.5323
Epoch 41/50
1072/1072 [==============================] - 2s 2ms/step - loss: 7.2060 - accuracy: 0.5323
Epoch 42/50
1072/1072 [==============================] - 2s 2ms/step - loss: 6.8553 - accuracy: 0.5323
Epoch 43/50
1072/1072 [==============================] - 2s 2ms/step - loss: 23744.0918 - accuracy: 0.5330
Epoch 44/50
1072/1072 [==============================] - 2s 2ms/step - loss: 319174.0625 - accuracy: 0.5337
Epoch 45/50
1072/1072 [==============================] - 2s 2ms/step - loss: 13003882.0000 - accuracy: 0.5327
Epoch 46/50
1072/1072 [==============================] - 2s 2ms/step - loss: 5036736774144.0000 - accuracy: 0.4942
Epoch 47/50
1072/1072 [==============================] - 2s 2ms/step - loss: 434085756928.0000 - accuracy: 0.5044
Epoch 48/50
1072/1072 [==============================] - 2s 2ms/step - loss: 17848996.0000 - accuracy: 0.5281
Epoch 49/50
1072/1072 [==============================] - 2s 2ms/step - loss: 15649370.0000 - accuracy: 0.5313
Epoch 50/50
1072/1072 [==============================] - 2s 2ms/step - loss: 883.3543 - accuracy: 0.5330

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [98]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled , y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.4099 - accuracy: 0.5248 - 593ms/epoch - 2ms/step
Loss: 0.4099302291870117, Accuracy: 0.524781346321106

In [99]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled , y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 1.3647 - accuracy: 0.4791 - 448ms/epoch - 2ms/step
Loss: 1.3646600246429443, Accuracy: 0.4790670573711395

In [100]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled , y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 3.8252 - accuracy: 0.5311 - 423ms/epoch - 2ms/step
Loss: 3.825209140777588, Accuracy: 0.5310786962509155

### Step 3: Save each of your alternative models as an HDF5 file.

In [105]:
# Set the file path for the first alternative model

filepath_A1 = "Resources/nn_A1.h5"

# Export your model to a HDF5 file

nn_A1.save(filepath_A1)

In [106]:
# Set the file path for the second alternative model
filepath_A2 = "Resources/nn_A2.h5"

# Export your model to a HDF5 file

nn_A2.save(filepath_A2)